@import './common.scss';

.form {
    width: 85%;
    float: left;
    background-color: #fff;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    border: 1px solid #ddd;
    padding: 40px;
    padding-left: 0;
    .form-group {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }
}
