@import './common.scss';
.navbar {
    width:85%;
    float:left;
    margin-bottom:5px;
    .container {
    margin:0;
    padding:0;
    }
}

.form-horizontal .form-group {
    width:320px;
    margin:0;
    padding:0;
}

.form-horizontal .control-label {
    margin-right: -13px;
    padding-left:0;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin:8px 0;
    padding:0;

}

.searchButton {
    margin-left: 120px;
}
